/* ! Global settings */
h1, h2, p, a, .touch{
    font-family: 'VT323', monospace;
}

/* ! Title */
h1{
    text-transform: uppercase;
    font-style: italic;
    font-size: 80px;
    font-weight: bolder;
}

/*! place box */
#elements{
    /* background-color: bisque; */
    height: 600px;
    width: 100vw;
}
#hangman{
    /* background-color: blue; */
    height: 300px;
    width: 40%;
}
#word-keyboard-container{
    /* background-color: red; */
    height: 400px;
    width: 40%;
}
    #word{
        /* background-color: blueviolet; */
        height: 140px;
    }
    #keyboard{
        /* background-color: pink; */
        height: 300px;
    }
#result{
    /* background-color: green; */
    height: 300px;
    width: 20%;
}

/*! keyboard  */
.usedColor{
    background-color: #48475E;
}
p{
    font-size: 50px;
}
button{
    padding: 5px 22px;
    font-size: 30px;
    background-color: #ff6621;
    border: 2px solid #000000;
    border-radius: 2px;
}

/* ! win div */
#win-div{
    height: 16vh;
    width: 15vw;
    background-color: green;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #000000;
    border-style: outset;
}
#win-text-button{
    color: black;
    text-decoration: none;
    font-size: 50px;
}
#win-replay-btn{
    border: none;
    background-color: rgba(255, 0, 0, 0);
}

/* ! lose div */
#lose-div__background{
    background-color: rgba(255, 0, 0, 0.5);
    height: 500px;
    width: 900px;
    right: 50%;
    top: 20px;
    transform: translateX(50%);
}
#lose-div{
    height: 16vh;
    width: 15vw;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #000000;
    border-style: outset;
}
#lose-text-button{
    color: black;
    text-decoration: none;
    font-size: 50px;
}
#lose-replay-btn{
    border: none;
    background-color: rgba(255, 0, 0, 1);
}

/* ! hangman image */
#background-img{ 
    position: fixed;
    z-index: -12;
}
#background-img-to-modify{
    height: 100vh;
    width: 100%;
}

/* ? score style */
/* h2{
    font-size: 20px;
} */