/* ! Global settings */
body{
    /* background-image: url("../img/pixel-art-wallpaper-hangman-western-0.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; */
}


/*! place box */
#elements{
    background-color: bisque;
    height: 600px;
    width: 100vw;
}
#hangman{
    /* background-color: blue; */
    height: 300px;
    width: 30%;
}
#word-keyboard-container{
    background-color: red;
    height: 300px;
    width: 50%;
}
    #word{
        background-color: blueviolet;
        height: 140px;
    }
    #keyboard{
        background-color: pink;
        height: 140px;
    }
#result{
    background-color: green;
    height: 300px;
    width: 20%;
}

/*! keyboard  */
span{
    font-size: 30px;
}
.usedColor{
    background-color: grey;
}



.div4{
    background-image: yellow;
}




hr{
    width: 40px;
    border-top: 10px solid black;
}
.divforletter, divforletter5{
    width: 50px;
}






/* ! play img */

#play-img{
    height: 100vh;
    background-color: orange;
}

/* ! win div */

#win-div{
    height: 100vh;
    width: 50vw;
    background-color: green;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ! lose div */

#lose-div{
    height: 100vh;
    width: 50vw;
    background-color: red;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
#replay-btn{
    opacity: 1;
}

/* ! score style */

h2{
    font-size: 20px;
}


/* ! hangman image */

#background-img{ 
    position: fixed;
    z-index: -12;
}

#background-img-to-modify{
    height: 100vh;
    width: 100%;
}